*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

height:100vh;

/* PUT YOUR IMAGE HERE */
background-image:url("Truck_image_4.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

color:white;
}


/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:rgba(0,0,0,0.35);
backdrop-filter:blur(5px);

}

.logo{
font-size:22px;
font-weight:bold;
}

.emergency{

background:linear-gradient(90deg,#ff9d00,#ff3c00);

padding:10px 20px;

border-radius:30px;

font-weight:600;
}


/* MAIN SECTION */

.login-section{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 100px;

height:75vh;

}


/* LEFT CONTENT */

.left-content{

max-width:500px;

}

.left-content h1{

font-size:48px;

margin-bottom:20px;

}

.left-content p{

margin-bottom:20px;

font-size:18px;

}

.left-content ul li{

margin-bottom:12px;

font-size:17px;

}


/* LOGIN CARD */

.login-card{

background:white;

color:#333;

padding:40px;

width:380px;

border-radius:12px;

box-shadow:0 20px 50px rgba(0,0,0,0.3);

}

.login-card h2{

margin-bottom:10px;

}

.sub{

font-size:14px;

color:gray;

margin-bottom:20px;

}

.login-card input{

width:100%;

padding:12px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:6px;

}

.row{

display:flex;

justify-content:space-between;

align-items:center;

font-size:14px;

margin-bottom:20px;

}

.row a{

text-decoration:none;

color:#007bff;

}

button{

width:100%;

padding:13px;

border:none;

border-radius:6px;

background:linear-gradient(90deg,#ff9d00,#ff5200);

color:white;

font-size:16px;

cursor:pointer;

}

.signup{

text-align:center;

margin-top:15px;

font-size:14px;

}

.signup a{

color:#007bff;

text-decoration:none;

}


/* FOOTER */

footer{

text-align:center;

padding:20px;

background:rgba(0,0,0,0.4);

}

.footer-links{

margin-bottom:5px;

}